.addButton {
    /* we want to invert the img so we have to use inverted color of #4faba2*/
    background-color: #af535c;
    -webkit-filter: invert(100%);
    border-radius: 50%;
    float: right;
    height: 40px;
    width: 40px;
    margin-top: 5px;
}

.addButton:hover {
    /* invert of #72bbb4 */
    background-color: #8d434a;
    color: white;
}

span.textFitted {
    font-weight: bold;
    margin-left: 5%;
}

.addArticleText {
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-color: #4faba2;
    border-radius: 0;
    min-height: 38px;
    margin: 2px;
    caret-color: rgba(250, 250, 250, 0.7);
    font-size: 1.1em;
    color: white;
    height: 30px;
    width: calc(100% - 70px);
    min-width: 116px
}

.addArticleText::placeholder {
    color: rgba(250, 250, 250, 0.7);
}

.bring-item {
    background-color: #EE524F;
    float: left;
    text-align: center;
    margin: 2px;
    min-width: 116px;
    max-width: 116px;
    min-height: 116px;
    max-height: 116px;
}

.bring-recent-item {
    background-color: #4faba2;
    float: left;
    text-align: center;
    margin: 2px;
    min-width: 116px;
    max-width: 116px;
    min-height: 116px;
    max-height: 116px;
}

div.item-name {
    max-height: 28px;
    overflow: hidden;
    margin-top: 0;
    padding: 0;
    max-width: 95%;
}

.item-name p {
    word-wrap: break-word;
    font-size: 13px;
}

div.item-desc {
    max-height: 25px;
    overflow: hidden;
    margin-top: 0;
    padding: 0;
    max-width: 95%;
}

.item-desc p {
    word-wrap: break-word;
    font-size: 11px;
}

.item-image {
    height: 50px;
    max-width: 90%;
    padding-top: 20px;
    text-align: center;
}