<!--
    ioBroker.vis template Widget-Set

    version: "0.0.1"

    Copyright 2019 Moritz Heusinger moritz.heusinger@gmail.com
-->

<!-- here you can include so many js-files as you want -->
<!--script type="text/javascript" src="widgets/js/materialize.js"></script-->
<!--link rel="stylesheet" type="text/css" href="widgets/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
<!-- the full description of format in data-vis-attrs can be found here:
    https://github.com/ioBroker/ioBroker.vis/blob/master/www/js/visEditInspect.js#L39

    ----------------------------------------------------------
    Mandatory XML attributes:
        id="tplTemplateWIDGETNAME"
        type="text/ejs"
        class="vis-tpl"

        "type" and "class" are always the same. "id" is unique and must start with "tplSETNAME" and ends with widget name. Use camel-case for it.

    ----------------------------------------------------------
    data-vis-attrs - divided with semicolon the list of attributes, like attr1/id;attr2/color
        Full format of one attribute is: attr_name(start-end)[default_value]/type,idFilter/onChangeFunc
            attr_name - the name of the attribute, e.g. "myID"
            start-end - creates automatically attributes from attr_namestart to attr_nameend, like "myID(1-3)" creates myID1, myID2, myID3
            default_value - by creation of widget this attribute will be filled with this value, e.g. "myID[#001122]/color"
            type - some predefined types have edit helpers, else it will be shown as text field

                Type format:
                      id - Object ID Dialog
                      checkbox
                      image - image
                      number,min,max,step - non-float number. min,max,step are optional
                      color - color picker
                      views - Name of the view
                      effect - jquery UI show/hide effects
                      eff_opt - additional option to effect slide (up, down, left, right)
                      fontName - Font name
                      slider,min,max,step - Default step is ((max - min) / 100)
                      select,value1,value2,... - dropdown select
                      nselect,value1,value2,... - same as select, but without translation of items
                      style,fileFilter,nameFilter,attrFilter
                      custom,functionName,options,... - custom editor - functionName is starting from vis.binds.[widgetset.funct]. E.g. custom/timeAndWeather.editWeather,short
                      group.name - define new or old group. All following attributes belongs to new group till new group.xyz
                      group.name/byindex - like group, but all following attributes will be grouped by ID. Like group.windows/byindex;slide(1-4)/id;slide_type(1-4)/select,open,closed  Following groups will be created Windows1(slide1,slide_type1), Windows2(slide2,slide_type2), Windows3(slide3,slide_type3), Windows4(slide4,slide_type4)
                      text - dialog box with html editor
                      html - dialog box with html editor

                If type is "id", you can define filer for "Select ID Dialog", like "myID/id,level.temperature".
                Additionally you can define callback(onChangeFunc), which will be called if this attribute was changed by user for different purposes: validate entry, fill other attributes, ...

        You can define additional data-vis-attrs line: data-vis-attrs0, data-vis-attrs1. Anyway data-vis-attrs must be there. You may not skip numbers.
        E.g. in "data-vis-attrs="A;" data-vis-attrs1="B" attribute B will be not parsed.

    --------------------------------------------------------
    data-vis-type
        Help information for user. Used for search.
        You can define more than one type divided by comma.
        There are following common types, but you can use your own specific types:
            ctrl   - widget that can write some Object IDs
            val    - widget that shows some information from Object IDs
            static - widget do not read information from Object IDs or URL
            button - button widget
            dimmer - dimmer widget
            weather - weather widget
            ...

    --------------------------------------------------------
    data-vis-set
        Name of the widget set. Must be equal to the name of this HTML file

    --------------------------------------------------------
    data-vis-prev
        Html code used as preview of this widget. If widget is complex you can just use image as preview:
        data-vis-prev='<img src="widgets/hqwidgets/img/prev/Prev_tplTemplateShowInstance.png"></img>'
        Of course the image must exist.

    --------------------------------------------------------
    data-vis-name
        Readable name of widget shown in vis editor.

    --------------------------------------------------------
    data-vis-beta="true"
        Shows "BETA" symbol in vis editor by preview

    --------------------------------------------------------
    data-vis-update-style="true"
        Call redraw of widget if some of the CSS styles in editor for this widget was changed

    You can read about Magic tags here: http://canjs.com/guides/EJS.html
    Following magic tags are exist:
        <% %> - execute javascript
        <%= %> - place escaped result to HTML document
        <%== %> - place unescaped result to HTML document

    You can do "if" conditions and "for" cycles.

-->

<script type="text/javascript">
    'use strict';
    if (vis.editMode) {
        // Add words for basic widgets
        $.extend(true, systemDictionary, {
            "oid-list": {
                "en": "List ID",
                "de": "Listen ID",
                "ru": "ID списка",
                "pt": "ID da lista",
                "nl": "Lijst ID",
                "fr": "ID de liste",
                "it": "Elenco ID",
                "es": "ID de lista",
                "pl": "ID listy",
                "zh-cn": "清单ID"
            },
            "oid-save": {
                "en": "Save ID",
                "de": "Hinzufügen ID",
                "ru": "Сохранить идентификатор",
                "pt": "Salvar ID",
                "nl": "Bewaar ID",
                "fr": "Enregistrer l'identifiant",
                "it": "Salva ID",
                "es": "Guardar ID",
                "pl": "Zapisz identyfikator",
                "zh-cn": "保存ID"
            },
            "oid-remove": {
                "en": "Remove ID",
                "de": "Entfernen ID",
                "ru": "Удалить ID",
                "pt": "Remover ID",
                "nl": "ID verwijderen",
                "fr": "Supprimer l'ID",
                "it": "Rimuovi ID",
                "es": "Eliminar ID",
                "pl": "Usuń identyfikator",
                "zh-cn": "删除ID"
            },
            "text-for-adding": {
                "en": "Placeholder for adding",
                "de": "Platzhalter zum Hinzufügen",
                "ru": "Заполнитель для добавления",
                "pt": "Placeholder para adicionar",
                "nl": "Tijdelijke aanduiding voor toevoegen",
                "fr": "Espace réservé pour l'ajout",
                "it": "Segnaposto per l'aggiunta",
                "es": "Marcador de posición para añadir",
                "pl": "Symbol zastępczy do dodania",
                "zh-cn": "占位符用于添加"
            }
        });
    }

    var registered = false;

    // Binding to communicate with ejs script
    vis.binds['bring'] = {
        onclick: function (el) {
            var $el = $(el);
            var item = $el.data('item').replace(/_/g, ' ');
            var oidRemove = $el.data('remove');
            if (oidRemove) {
                vis.setValue(oidRemove, item);
            }

            $el.remove();
        },
        onkeypress: function (event) {
            if (registered) return;
            $('#save').keypress(function (event) {
                if (event.which !== 13) return;
                saveItem();
            });

            $('#addButton').click(function () {
                saveItem();
            });
            registered = true;
        }
    };

    function saveItem () {
        var $save = $('#save');
        var saveId = $save.data('save');
        var item = $save.val();
        $save.val('');
        // return on empty form
        if (item === '') return;
        var stateId = $save.data('list');

        // if item is already on list --> return
        var currentList = JSON.parse(vis.states[stateId + '.val']);
        for (var i = 0; i < currentList.length; i++) {
            if (currentList[i].name === item) return;
        }

        // set state in backend
        vis.setValue(saveId, item);
        var oidRemove = $save.data('remove');
        var alternative = item.substring(0, 1).toLowerCase();
        if (/^(ä|ö|ü)/g.test(alternative)) {
            alternative = alternative.replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue');
        }

        // add item instant to widget
        var html = '<div class="bring-item" style="overflow: hidden; background-color: #EE524F; float: left; text-align: center; margin: 2px; padding: 2px; ' +
            'min-width:116px; max-width:116px; min-height: 98px; max-height: 98px" id=' + item.replace(/ /g, '_') +
            ' onclick="vis.binds[\'bring\'].onclick(this)" data-remove="' + oidRemove + '"' +
            'data-list="' + stateId + '" data-item=' + item.replace(/ /g, '_') + '> ' +
            '<img src="https://web.getbring.com/assets/images/items/' + item.toLowerCase().replace(/ /g, '_')
                .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue') + '.png" ' +
            'onerror="this.src=\'https://web.getbring.com/assets/images/items/' + alternative +'.png\'" ' +
            'alt=' +  item + ' align="center" style="height: 50px; max-width: 90%; padding-top: 20px" id="img-' + item + '" > ' +
            '<p style="word-wrap: break-word; font-size: 0.8em; width: 100%">' + item + '</p></div>';

        $('#shoppinglist').append(html);
    }

    function checkItems(cb) {
        var newItems = [];
        var knownList = [];
        var newList = [];
        var oidRemove = '';
        var stateId = '';

        $('.bring-item').each(function (index) {
            stateId = $(this).data('list');
            oidRemove = $(this).data('remove');
            newList = JSON.parse(vis.states[stateId + '.val']);
            var stillOnList = false;
            knownList.push(this.id.replace(/_/g, ' '));

            for (var i = 0; i < newList.length; i++) {
                if (newList[i].name === this.id.replace(/_/g, ' ')) {
                    stillOnList = true;
                } // endIf
            } // endFor

            if (!stillOnList) {
                $(this).remove();
            }
        });

        for (var j = 0; j < newList.length; j++) {
            var itemName = newList[j].name;
            if (knownList.indexOf(itemName) < 0) {
                // new Item found
                newItems.push(itemName);
            } // endIf
        } // endFor

        var alternative;
        for (var k = 0; k < newItems.length; k++) {
            alternative = newItems[k].substring(0, 1).toLowerCase();
            if (/^(ä|ö|ü)/g.test(alternative)) {
                alternative = alternative.replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue');
            }
            var html = '<div class="bring-item" style="overflow: hidden; background-color: #EE524F; float: left; text-align: center; margin: 2px; padding: 2px; ' +
                'min-width:116px; max-width:116px; min-height: 98px; max-height: 98px" id=' + newItems[k].replace(/ /g, '_') +
                ' onclick="vis.binds[\'bring\'].onclick(this)" data-remove="' + oidRemove + '"' +
                'data-list="' + stateId + '" data-item=' + newItems[k].replace(/ /g, '_') + '> ' +
                '<img src="https://web.getbring.com/assets/images/items/' + newItems[k].toLowerCase().replace(/ /g, '_')
                    .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue') + '.png" ' +
                'onerror="this.src=\'https://web.getbring.com/assets/images/items/' + alternative +'.png\'" ' +
            'alt=' +  newItems[k] + ' align="center" style="height: 50px; max-width: 90%; padding-top: 20px" id="img-' + newItems[k].replace(/ /g, '_') + '" > ' +
            '<p style="word-wrap: break-word; font-size: 0.8em; width: 100%">' + newItems[k] + '</p></div>';

            $('#shoppinglist').append(html);
        }

        if (cb && typeof cb === 'function') cb(newItems);
    } // endCheckItems

</script>

<script id="tplBringShoppingList"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/shopping-list/img/shopping-list.png"></img>'
        data-vis-attrs="oid-list;oid-save;oid-remove;text-for-adding/text"
        data-vis-set="bring"
        data-vis-type="ctrl"
        data-vis-name="bring-shopping-list">
        <% if (!vis.editMode) { %>
            <% /* We are only loading CSS if we are productive, otherwise edit mode will be destroyed */ %>
            <link rel="stylesheet" type="text/css" href="widgets/css/materialize.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <% } %>
        <div class="vis-widget <%== this.data.attr('class') %>" style="width:230px; height:210px;min-width:145px" id="<%= this.data.attr('wid') %>" >
        <div class="row" style="padding-right:15px;">
        <input type="text" placeholder="<%= this.data['text-for-adding'] %>" id="save" class="white-text" name="addArticle" data-save="<%= this.data['oid-save']; %>" style="height: 30px; width: 80%; min-width: 116px"
        onkeypress="vis.binds['bring'].onkeypress(this)" data-list="<%= this.data['oid-list']; %>" data-remove="<%= this.data['oid-remove']; %>">
                <a id="addButton" class="btn-floating waves-effect waves-light teal accent-4" style="float: right;text-align: center"><i class="material-icons table-button-add">add</i></a>
        </div>
        <div class="template-class vis-widget-body <%== this.data.attr('class') %>" style="padding:2px margin-top: 30px" id="shoppinglist">
              <% var productArray = vis.states[this.data.attr('oid-list') + '.val']; %>
              <% var productArrayJSON = JSON.parse(productArray); %>
              <% for (var i = 0; i < productArrayJSON.length; i++) {%>
                  <% var name = productArrayJSON[i].name; %>
                  <% var alternative = name.substring(0, 1).toLowerCase(); %>
                  <% if (/^(ä|ö|ü)/g.test(alternative)) { %>
                    <% alternative = alternative.replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue'); %>
                  <% } %>
                  <div class="bring-item" style="overflow: hidden; background-color: #EE524F; float: left; text-align: center; margin: 2px; padding: 2px;
                  min-width:116px; max-width:116px; min-height: 98px; max-height: 98px" id=<%= name.replace(/ /g, '_') %>
                                    onclick="vis.binds['bring'].onclick(this)" data-remove="<%= this.data['oid-remove'] %>"
                                     data-list="<%= this.data['oid-list'] %>" data-item= <%= name.replace(/ /g, '_') %> >
                      <img src="https://web.getbring.com/assets/images/items/<%= name.toLowerCase().replace(/ /g, '_')
                       .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue') %>.png"
                      onerror="this.src='https://web.getbring.com/assets/images/items/<%= alternative; %>.png'"
                      alt=<%= name %> align="center" style="height: 50px; max-width: 90%; padding-top: 20px" id="img-<%= name.replace(/ /g, '_') %>" >
                      <p style="word-wrap: break-word; font-size: 0.8em; width: 100%"> <%= name %> </p>
                  </div>
              <% } %>
              <% var that = this %>
              <% setInterval(checkItems, 15000); %>
        </div>
    </div>
</script>